:root {
    --bg-color: #010610;
    --visual-bg-color: #020304;
    --settings-bg-color: #061022;
    --text-color: #e0e6f0;
    --border-color: #2a3646;
    --primary-color: #7c4dff;
    --secondary-color: #00ffbb;
    --tertiary-color: #ff5722;
    --hover-color: #1e2a3e;
    --node-bg: #1a2333;
    --node-hover: #2c3e50;
}

body{
    width: 100vw;
    height: 100vh;
}